body{
    margin: 0;

}
header{
    height: 30px;
    background-color: #292930;
    border-bottom: 2px solid black;
}

main{
    display: flex;
}

aside{
    height: 600px;
    width: 50px;
    background-color:#292930;
    border-right: 2px solid black;
}

.top-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-icon span{
    margin-top: 10px;
}

article{
    height: 600px;
    width: 200px;
    background-color:#292930;
    border-right: 2px solid black;
}

.filepath{
    padding-left: 5px;
    padding-right: 5px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid black;
}

section{
    height: 600px;
    width: 1200px;
    background-color:#292930;
    border-right: 1px solid black;
}










